$background-color: rgb(252, 252, 252);

.about {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
    
    &__background {
        @media only screen and (max-width: 767px){
            padding-top: 30px;
            width: 100%;
            background-color: white;
        }
        @media only screen and (min-width: 767px){
            padding-top: 50px;
            width: 100%;
            background: linear-gradient(to bottom right, $background-color, $background-color 50%, #f2f2f2 50%, #f2f2f2);
        }
    }

    &__inner {
        width: 1200px;
        margin: 0 auto;
    }

    &__title {
        margin-left: 170px;
    }
    &__paragraph {
        margin-left: 170px;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        width: 70%;
        box-shadow: 0 10px 10px -5px;
    }
}
