.manual {
    padding-top: 20px;
    margin: 0 auto;
    width: 1200px;
    &__btn-group {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        height: 60px;
    }
    &__btn {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease-in-out;
    }
    &__btn:hover {
        border-bottom: 2px solid #de3621;
    }
    &__guideline {
        width: 70%;
        height: 100%;
        background-color: white;
        border:0.5px solid #FFFFFF;
        margin: 30px auto;

        &__title {
            font-size: 30px;
            margin: 40px;
        }
        &__stickerInfo {
            table {
                width: 90%;
                height: 120px;
                margin: 50px auto;
                font-size: 18px;
                text-align: center;
                border-collapse: collapse;
                table-layout: fixed;
            }
            tr {
                height: 50px;
            }
            th {
                border-bottom: 1px solid #E2E2E2;
                margin: 10px;
            }
        }
        &__noticeInfo {
            color: #626262;
            display: flex;
            align-items: center;
            text-align: left;
            vertical-align: middle;
        }
        &__imageInfo {
            margin: 0 auto;
        }
        &__imageWrap {
            width: 90%;
            background-color: #EDEDF2;
            margin: 20px auto;
            text-align: center;
        }
        &__imageSample {
            display: inline-block;
            margin: 30px 20px 0px 20px;

            img {
                width: 250px;
                margin: 0 30px;
            }
            div {
                margin: 20px;
                font-size: 18px;
            }
        }
        &__otherInfo {
            margin: 30px auto;
        }
    }
    
    li {
        color: #626262;
        font-size: 16px;
        line-height: 35px;
    }
    h3 {
        margin: 20px auto;
        padding-inline-start: 40px;
    }
}
