.process-info {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;
    width: 1050px;
    height: 100%;
    &__title {
        margin-left: 20px;
    }
    &__process-list {
        margin-bottom: 100px;
        grid-row-gap: 30px;
        grid-column-gap: 50px;
        margin: 0 auto;
    }
}
