.wallet {
    &__propertyItem {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 120px 600px;
        grid-row-gap: 30px;
        margin: 20px auto;

    }
    &__propertyIndex {
        color: #AAAAAA;
        text-align: end;
        font-size: 1rem;
    }
    &__propertyValue {
        text-align: start;
        font-size: 1rem;
    }
    &__withdraw {
        margin: 0 auto;
        table {
            margin: 30px auto;
            text-align: center;
        }
        th, td {
            width: 150px;
        }
        tbody {
            margin-top: 20px;
        }
    }
    &__withdrawIndex {
        color: #AAAAAA;
        font-size: 1rem;
    }

    &__paypal {
        //임시로 만든 공간. 
        //높이는 내부 요소에 따라 자동으로 늘어나므로 내부 요소 추가 후 hight 지우기.
        height: 300px;
    }

    &__account {
        //임시로 만든 공간. 
        //높이는 내부 요소에 따라 자동으로 늘어나므로 내부 요소 추가 후 hight 지우기.
        height: 300px;
    }

}

.calender {
    text-align: center;
    &__header {
        button {
            cursor: pointer;
            outline: none;
            display: inline-flex;
            background-color: transparent;
            border: none;
            font-size: 1.2rem;
        }
    }
    &__day {
        display: inline-block;
        font-size: 1.2rem;
        width: 8rem;
        text-align: center;
    }
}